.flash {
    animation: flash 1s infinite;
    -webkit-animation: flash 1s infinite;
    -moz-animation: flash 1s infinite;
    -o-animation: flash 1s infinite;
    -ms-animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }
  
  @-moz-keyframes flash {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }
  
  @-webkit-keyframes flash {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }
  
  @-o-keyframes flash {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }
  
  @-ms-keyframes flash {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }